 <div class="navbar navbar-inverse">
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active">
      <%= link_to "Inicio" , root_path%></li>
      
      <li>
      <%= link_to "Acerca" , acerca_path%></li>
    </ul>
   
    <ul class="nav pull-right">
      <li>
      <%= link_to "Iniciar Sesion" , root_path%></li>
      
     
    </ul>
  </div>
</div> 
</div>
         
 




  



  